.ihk{
    background-image: url(Image/hulu-hero-banner.webp);
    display: grid;
    height: 500px;
}

.head{
    display: flex;
    justify-content:space-between;
    padding: 10px;
}

.facial{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.ver{
    display: flex;
    gap: 26px;
    margin-left: -30px;
    font-size: 20px;
}

.hulu{
    color: white;
}